<header>
    <img src="/images/ICG icon.png" alt="icono de la empresa">
    <navbar class="albert">
        <div>
            <input type="text" name="busqueda" id="busqueda">
            <button><i class="fa-solid fa-magnifying-glass lupa"></i></button>
        </div>
        <div class="setso">
            <a href="#productos">Productos</a>
            <a href="#contactos">Contacto</a>
            <a href="#quienes_somos">Quienes Somos</a>
        </div>
        <div>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </navbar>
</header>