.lupa{
    color: blue;
}

.logo-icg{
    text-align: center;
}

.nav-bar{
    display: flex;
    flex-direction: column;
}

.buscador{
    display: none;
}

.logo-busqueda{
    flex-direction: row;
}

.sections{
    flex-direction: row;
}

/* MEDIA QUERIES */
@media (min-width: 769px) {
    
}
@media (min-width: 1200px) {
    
}