<!DOCTYPE html>
<html lang="en">

<!-- Para una mayor optimización, despues implememntamos el include -->
<!-- < %- include('../partials/head.ejs') -% > -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6e45c03872.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <title>ICG aguas</title>
</head>
    <body>
        <%- include('../partials/headerMain.ejs') -%>
            <h1 class="pene">Hola a todos</h1>
    </body>

</html>